body {
  font-family: Trebuchet MS, sans-serif;
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(30,161,160,1) 100%);
  margin: 0;
  height: 100vh;
  text-align: center;
  padding: 20px;
  color: white;
  overflow: hidden;
}

div {
    background: rgb(30 161 160 / .5);
    background: linear-gradient(0deg, rgba(30,161,160, .5) 0%, rgba(0,0,0, .5) 100%);
    width: 900px;
    height: 500px;
    margin: 0 auto;
    margin-bottom: 10px;
    border-radius: 25px;
}

h2 {
  font-size: 90px;
  margin-bottom: 50px;
}

p#number {
  font-size: 140px;
  margin-bottom: 40px;
}

button#result_button {
  background-color: rgba(32, 232, 14, 1);
  color: white;
  padding: 16px 32px;
  border: none;
  border-radius: 24px;
  margin-top: 16px;
  font-size: 60px;
  cursor: pointer;
  display: block; /* Устанавливаем кнопку как блочный элемент */
  margin: 0 auto; /* Выравниваем кнопку по центру */
}
