body {
  font-family: Trebuchet MS, sans-serif;
  background: rgb(58,180,72);
  background: linear-gradient(90deg, rgba(58,180,72,1) 0%, rgba(29,240,253,1) 50%, rgba(69,85,252,1) 100%);
  text-align: center;
  padding: 80px;
  color: white;
  overflow: hidden;
}

h2 {
  padding-top: 50px;
  font-size: 50px; /* Размер заголовка */
  margin-bottom: 20px; /* Отступ снизу от заголовка */
}

button {
  background-color: rgba(32, 232, 14, 1);
  color: white;
  padding: 16px 32px;
  border: none;
  border-radius: 24px;
  margin-top: 16px;
  font-size: 36px;
  cursor: pointer;
}

/* Стили для галочки */
.checkmark {
  position: absolute;
  font-size: 60px;
  color: rgba(32, 200, 14, 1);
}

@keyframes fall {
  0% {
    transform: translateY(-100vh);
  }
  100% {
    transform: translateY(100vh);
  }
}

/* Анимация падения галочки */
.falling-checkmark {
  position: absolute;
  animation: fall linear infinite, fadeOut 2s ease;
}

#table {
  background: rgb(58,180,72);
  background: linear-gradient(90deg, rgba(58,180,72,1) 0%, rgba(29,240,253,1) 50%, rgba(69,85,252,1) 100%);
  width: 1000px;
  height: 300px;
  margin: 0 auto;
  border-radius: 80px;
}