body {
  font-family: Trebuchet MS, sans-serif;
  background-color: #aec8e2; /* Цвет фона */
  text-align: center; /* Выравнивание текста по центру */
  padding: 20px;
  color: white; /* Белый цвет текста */
}

h2 {
  font-size: 36px; /* Размер заголовка */
  margin-bottom: 20px; /* Отступ снизу от заголовка */
}

p {
  font-size: 28px; /* Размер текста */
  margin-bottom: 20px; /* Отступ снизу от текста */
}

button#try_again_button {
  background-color: rgba(32, 232, 14, 1);
  color: white;
  padding: 16px 32px;
  border: none;
  border-radius: 24px;
  margin-top: 16px;
  font-size: 24px;
  cursor: pointer;
}

.cross {
    position: absolute;
    font-size: 60px; /* Размер крестика */
    color: rgba(232, 32, 14, 1); /* Цвет крестика */
    animation: fall 2s ease; /* Применяем анимацию к элементу на протяжении 2 секунд с эффектом ease */
}
