body {
  font-family: Trebuchet MS, sans-serif;
  background-color: #aec8e2;
  text-align: center;
  padding: 20px;
  color: white;
}

h2 {
  font-size: 80px; /* Размер заголовка */
  margin-bottom: 40px; /* Отступ снизу от заголовка */
}

form {
  display: inline-block; /* Делаем форму блочным элементом */
}

input[type="text"],
input[type="number"] {
  padding: 12px; /* Увеличиваем внутренний отступ для текстовых полей */
  border: 2px solid #f4c430; /* Устанавливаем цвет рамки */
  border-radius: 64px; /* Задаем радиус границы */
  font-size: 24px; /* Увеличиваем размер текста */
  margin-bottom: 20px; /* Отступ снизу от текстовых полей */
}

button[type="submit"] {
  background-color: rgba(32, 232, 14, 1);
  color: white;
  padding: 18px 36px;
  border: none;
  border-radius: 18px;
  cursor: pointer;
  font-size: 32px; /* Размер кнопки */
  margin-top: 26px; /* Отступ сверху кнопки */
}

label {
  font-size: 36px; /* Увеличиваем размер текста для меток */
}