body {
  font-family: Trebuchet MS, sans-serif;
  background-color: #aec8e2;
  text-align: center;
  padding: 20px;
  color: white;
}

h2 {
  font-size: 45px;
  margin-bottom: 25px;
}

p#number {
  font-size: 70px;
  margin-bottom: 40px;
}

button#result_button {
  background-color: rgba(32, 232, 14, 1);
  color: white;
  padding: 16px 32px;
  border: none;
  border-radius: 24px;
  margin-top: 16px;
  font-size: 36px;
  cursor: pointer;
  display: block; /* Устанавливаем кнопку как блочный элемент */
  margin: 0 auto; /* Выравниваем кнопку по центру */
}
