body {
  font-family: Trebuchet MS, sans-serif;
  background: rgb(63,94,251);
  background: radial-gradient(circle, rgba(63,94,251,1) 50%, rgba(70,251,252,1) 100%);
  text-align: center;
  color: white;
}

h2 {
  font-size: 77.5px;
  margin-bottom: 200px;
}

form {
  display: inline-block;
}

input[type="text"],
input[type="number"] {
  padding: 16px;
  border: 2px solid #f4c430;
  border-radius: 64px;
  font-size: 25px;
}

button[type="submit"] {
  background-color: rgba(32, 232, 14, 1);
  color: white;
  padding: 18px 36px;
  border: none;
  border-radius: 64px;
  cursor: pointer;
  font-size: 25px;
  margin-top: 60px;
}

label {
  font-size: 45px;
}