{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Тренажер устного счета</title>
    <link rel="icon" type="image/png" sizes="48x48" href="{% static '/images/blue_brain.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'remove_number_input_arrows.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>
<body>
    <h2>Введите параметры</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Параметры готовы</button>
    </form>
    <script src="{% static 'button_style.js' %}"></script>
</body>
</html>
