{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Тренажер устного счета</title>
    <link rel="icon" type="image/png" sizes="48x48" href="{% static '/images/blue_brain.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles_for_lose.css' %}">
</head>
<body>
    <div id="table">
        <h2>К сожалению, ответ неверный</h2>
        <p>Правильный ответ: {{ request.session.correct_answer }}</p>
        <button id="try_again_button">Попробовать еще раз</button>
    </div>
    <div id="falling-crosses-container"></div>
    <script src="{% static 'falling_crosses.js' %}"></script>
    <script>
        document.getElementById('try_again_button').addEventListener('click', function() {
            window.location.href = '/';
        });
    </script>
</body>
</html>
